.imageContainer {
  position: relative;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-color: transparent;
}

.imageContainer > div {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background: rgb(157, 157, 90);
  width: 100%;
  opacity: .5;
  visibility: hidden;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.imageContainer:hover > div {

  visibility: visible;
  height: 100%;
  width: 100%;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

.imageContainer > div > button {
  min-width: 150px;
  border: .75px solid white;
  min-height: 50px;
  color: white;
  /* font-weight: bold; */
  font-size: large;
  /* opacity: 25; */
}
